.container {
    display: flex;
    width: 1000px;
    background-color: #c4ebf9;
    flex-direction: row;
    text-align: center;
    
  }
  
  .container div {
    color: white;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    
  }
  
  .one {
    background-color: #02bfb1;
    flex-grow: 1;
    
  }

  .two {
    background-color: #6edb6e;
    flex-grow: 1;


  }
  .two p{
    padding: 150px 0;
  }

  .three {
    background-color: #fbb04c;
    flex-grow: 2;
    
  }
  .three > p {
    padding: 150px 0 0 0;
  }

  body .container:nth-child(2) {
    height: 500px;
  }

  .container2 {
    display: flex;
    margin: 0;
    padding: 0;
    height: 200px;

  }

  .four {
    background-color: #fcd24a;
    flex-grow: 1;
    
  }